<h1>Add a definition:</h1>

  <form action="/definitions" method="post">
    <label for="name">Definition's name:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Add Definition</button>
  </form>

  