<h1>Welcome to Words Dictionary</h1>
<ul>
<li><a href="/words">Dictionary Words</a></li>
<li><a href="/words/new">Add New Word To Dictionary</a></li>
</ul>
  
<!-- <h1>Welcome to Vehicle Saver</h1>
  <a href="/vehicles">See Vehicle List</a>
  <a href="/vehicles/new">Add New Vehicle</a> -->