<h1>Add Word</h1>

  <p>Contribute To the dictionary here:</p>

  <form action="/words" method="post">
    <label for="name">Word</label>
    <input id="name" name="name" type="text">
    <button type="submit" class="btn">Add</button>
  </form>