<h3>Here are all the Words in this dictionary:</h3>

  <ul>
    <% @words.each() do |word| %>
      <li><a href="/definitions/<%= word.id() %>"><%= word.name %></a></li>
    <% end %>
  </ul>

  <a href="/">Return to Main Page</a>