<h1>Add a Definition</h1>

  <form action="/definitions" method="post">
    
    <label for='name'>Definition:</label>
    <input id='name' name='name' type='text'>

    <button type="submit">Add</button>
  </form>